<div class="header container">
  <div class="row">
    <div class="col-md-3">
      <div class="title" (click)="gotToHome()">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          height="1em"
          viewBox="0 0 448 512"
        >
          <path
            d="M448 96c0-35.3-28.7-64-64-64L64 32C28.7 32 0 60.7 0 96L0 416c0 35.3 28.7 64 64 64l320 0c35.3 0 64-28.7 64-64l0-320zM256 160c0 17.7-14.3 32-32 32l-96 0c-17.7 0-32-14.3-32-32s14.3-32 32-32l96 0c17.7 0 32 14.3 32 32zm64 64c17.7 0 32 14.3 32 32s-14.3 32-32 32l-192 0c-17.7 0-32-14.3-32-32s14.3-32 32-32l192 0zM192 352c0 17.7-14.3 32-32 32l-32 0c-17.7 0-32-14.3-32-32s14.3-32 32-32l32 0c17.7 0 32 14.3 32 32z"
          />
        </svg>
        <span>BrownSurvey</span>
      </div>
    </div>
    <div class="col-md-3"></div>
    <div class="col-md-6 d-flex justify-content-between">
      <button class="btn" (click)="gotToHome()">Home</button>
      <button class="btn" [matMenuTriggerFor]="menu">Create</button>
      <button class="btn" (click)="goToPlans()">Subscribe</button>
      <button class="btn" (click)="goToAboutUs()">About Us</button>
      <button class="btn" (click)="goToLogin()">Login</button>
    </div>
  </div>
</div>
<hr class="container line" />

<mat-menu #menu="matMenu">
  <button mat-menu-item (click)="goToCreate('survey')">
    <span>Survey</span>
  </button>
  <button mat-menu-item (click)="goToCreate('quiz')">
    <span>Quiz</span>
  </button>
  <button mat-menu-item (click)="goToCreate('opinion')">
    <span>Opinion</span>
  </button>
</mat-menu>
