<div class="header container">
  <div class="row">
    <div class="col-md-3">
      <div class="title" (click)="gotToHome()">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          height="1em"
          viewBox="0 0 448 512"
        >
          <path
            d="M448 96c0-35.3-28.7-64-64-64L64 32C28.7 32 0 60.7 0 96L0 416c0 35.3 28.7 64 64 64l320 0c35.3 0 64-28.7 64-64l0-320zM256 160c0 17.7-14.3 32-32 32l-96 0c-17.7 0-32-14.3-32-32s14.3-32 32-32l96 0c17.7 0 32 14.3 32 32zm64 64c17.7 0 32 14.3 32 32s-14.3 32-32 32l-192 0c-17.7 0-32-14.3-32-32s14.3-32 32-32l192 0zM192 352c0 17.7-14.3 32-32 32l-32 0c-17.7 0-32-14.3-32-32s14.3-32 32-32l32 0c17.7 0 32 14.3 32 32z"
          />
        </svg>
        <span>BrownSurvey</span>
      </div>
    </div>
    <div class="col-md-3"></div>
    <div class="col-md-6 d-flex justify-content-between">
      <button [ngClass]="currUrl === '/' ? 'btn selected-btn' : 'btn'" (click)="gotToHome()">Home</button>
      <button [ngClass]="currUrl.includes('create') ? 'btn selected-btn' : 'btn'" [matMenuTriggerFor]="menu">Create</button>
      <button [ngClass]="currUrl.includes('plans') ? 'btn selected-btn' : 'btn'" (click)="goToPlans()">Subscribe</button>
      <button [ngClass]="currUrl.includes('about-us') ? 'btn selected-btn' : 'btn'" (click)="goToAboutUs()">About Us</button>
      <button [ngClass]="currUrl.includes('login') ? 'btn selected-btn' : 'btn'" class="btn" *ngIf="!loggedIn" (click)="goToLogin()">Login</button>
      <button class="btn account-circle-btn" [matMenuTriggerFor]="profileMenu" *ngIf="loggedIn">
        <span><mat-icon class="account-icon account-circle" >account_circle</mat-icon></span></button>
    </div>
  </div>
</div>
<hr class="container line" />

<mat-menu #menu="matMenu">
  <button class="form-btn" mat-menu-item (click)="goToCreate('survey')">
    <span>Survey</span>
  </button>
  <button class="form-btn" mat-menu-item (click)="goToCreate('quiz')">
    <span>Quiz</span>
  </button>
  <button class="form-btn" mat-menu-item (click)="goToCreate('opinion')">
    <span>Opinion</span>
  </button>
</mat-menu>

<mat-menu #profileMenu="matMenu">
  <div class="profile-btn login-text">
    <span>Hi, {{loginText}}</span>
  </div>
  <button class="profile-btn"  mat-menu-item (click)="goToProfile('')">
    <span> Dashboard <mat-icon class="account-icon profile-icons"> local_library</mat-icon></span>
  </button>
  <button class="profile-btn"  mat-menu-item (click)="goToProfile('profile-details')">
    <span> Edit Info <mat-icon class="account-icon profile-icons"> edit</mat-icon></span>
  </button>
  <button class="profile-btn"  mat-menu-item (click)="goToProfile('Need Support')">
    <span>Support<mat-icon class="account-icon profile-icons">contact_support</mat-icon></span>
  </button>
  <button class="profile-btn"  mat-menu-item (click)="logout()">
    <span>Log Out  <mat-icon aria-hidden="false " class="account-icon profile-icons">logout</mat-icon></span>
  </button>
</mat-menu>
