.header {
  margin-top: 2%;
  margin-bottom: 1%;
}
.title {
  display: flex;
  font-weight: 700;
  font-size: 70px;
  font-family: "Sansation";
  color: #c10000;
  cursor: pointer;
}
.title span {
  font-size: 40px;
  margin-top: 8%;
  margin-left: 2%;
}
.title svg{
    fill: #c10000;
}

.title:hover {
  color: grey;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
}
.title:hover svg{
  fill: grey;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
}
.btn {
  color: #595260;
  font-weight: 400;
  font-size: 24px;
  box-shadow: none !important;
  padding: 0;
  border: none;
  background: none;
}
.btn:hover,
.btn:focus {
  color: #c10000;
}
.line {
  border: 1px solid #ffffff;
}
.profile-btn{
  color: #c10000;
  position: relative;
}
.account-icon{
  position: absolute;
  left: -25px;
  top: 24px;
}
