<div class="container">

  <!-- start list of form -->
  <div class="rounded-box info-box shadow-lg">
    <div class="row mt-2">
      <div class="col"></div>
      <div class="col-md-8">
        <div class="jutify-content">
          <h1><strong>Create Surveys, Quizes and Opinion Polls For Free</strong></h1>
        </div>
        <div class="jutify-content">
          <span>Here is the list for you to play with!</span>
        </div>
      </div>
      <div class="col"></div>
    </div>
  </div>
  <div class="list-of-forms">
    <div class="row">
      <div class="col">
        <app-form-list [list$]="listOfSurvey$">
          <div class="header" >
            <span>Surveys Created: {{surveyListLength}}</span>
          </div>
          <button class="btn" (click)="createForm('survey')">Create Survey</button>
        </app-form-list>
      </div>
      <div class="col">
        <app-form-list [list$]="listOfQuizzes$">
          <div class="header">
            <span> Quizzes Created: {{quizListLength}}</span>
          </div>
          <button class="btn" (click)="createForm('quiz')">Create Quiz</button>
        </app-form-list>
      </div>
      <div class="col">
        <app-form-list [list$]="listOfOpinions$">
          <div class="header" >
             <span>Opinions Created: {{opinionListLength}}</span>
          </div>
          <button class="btn" (click)="createForm('opinion')">Create Opinion</button>
        </app-form-list>
      </div>
    </div>
  </div>
  <!-- end list of form -->

  <!-- start top-trending-form -->
  <div class="rounded-box background-image shadow">
    <div *ngIf="(trendingForm$| async) as form;" class="d-flex justify-content-between ">
      <div >
        <div class="top-trending-form">
          <span class="top-trending-form-title">Top Trending Form</span>
          <span class="top-trending-form-list">Form Name: <span class="badge custom-badge">{{form.formTitle}}</span> </span>
          <span class="top-trending-form-list">Type: <span class="badge custom-badge">{{form.formType}}</span></span>
          <span class="top-trending-form-list">Popularity</span>
          <span class="top-trending-form-list">Created By: <span class="badge custom-badge">{{form.createdBy}}</span></span>
        </div>
      </div>
      <div class="next-btn">
        <button class="btn" (click)="showTrending(form)">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            height="1.54em"
            viewBox="0 0 448 512"
          >
            <!--! Font Awesome Free 6.4.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. -->
            <path
              d="M438.6 278.6c12.5-12.5 12.5-32.8 0-45.3l-160-160c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L338.8 224 32 224c-17.7 0-32 14.3-32 32s14.3 32 32 32l306.7 0L233.4 393.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0l160-160z"
            />
          </svg>
        </button>
      </div>
    </div>
  </div>
  <!-- end top-trending-form -->

  <!-- start contributors -->
  <div class="rounded-box primary-color shadow-lg" *ngIf="(contributorsList$| async) as contributor;">
    <div class="contributor-text" >
      <h1>Contributors</h1>
    </div>
    <div class="profile">
      <mat-icon>account_circle</mat-icon>
    </div>
    <div class="contributor-info">
      <span class="contributor-name">{{contributor[currContributor].cont_name}}</span>
      <p class="contributo-desc">
        {{contributor[currContributor].cont_desc}}
      </p>
    </div>
    <div class="next-contributor">
      <button [disabled]="currContributor === 0" class="btn" (click)="prevContributor()">
        <mat-icon>chevron_left</mat-icon>
      </button>
      <button [disabled]="contributor.length - 1 === currContributor" class="btn" (click)="nextContributor()">
        <mat-icon>chevron_right</mat-icon>
      </button>
    </div>
  </div>
  <!-- end contributors -->

  <div class="donate">
    <button class="btn shadow-lg"> <span>Like what you see, Please donate a coffee to the dev team!</span> </button>
  </div>
  <div class="donate mb-3">
    <button class="btn shadow">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        height="1em"
        viewBox="0 0 640 512"
      >
        <!--! Font Awesome Free 6.4.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. -->
        <path
          d="M96 64c0-17.7 14.3-32 32-32H448h64c70.7 0 128 57.3 128 128s-57.3 128-128 128H480c0 53-43 96-96 96H192c-53 0-96-43-96-96V64zM480 224h32c35.3 0 64-28.7 64-64s-28.7-64-64-64H480V224zM32 416H544c17.7 0 32 14.3 32 32s-14.3 32-32 32H32c-17.7 0-32-14.3-32-32s14.3-32 32-32z"
        />
      </svg>
    </button>
  </div>
</div>
