.container{
    background-color: #D9D9D9;
    color: #595260;
    padding: 5%;
    border-radius: 20px;
    margin-bottom: 2%;
}
table{
    color: #595260;
    border-collapse: separate;
    border-radius: 2rem;
  }
  table th{
    border-bottom: 1px solid black;
    font-weight: bold;
    text-align: center;
  }
  table td{
    text-align: center;
  }
  .mat-table
  {
    background-color:transparent!important;  
  }
  .form-table .btn{
    color: #c10000;
    border: none;
  }
  .no-data{
    text-align: center;
    padding: 1rem;
    background-color: #EEEEEE;
  }

:host ::ng-deep .mat-mdc-text-field-wrapper{
    background-color: #EEEEEE;
}
:host ::ng-deep .mat-mdc-paginator-container{
    border-top: 1px solid;
}