@import url(../../../shared/styles/globalstyles.css);

.container{
    background-color: #EEEE;
    color: #595260;
    padding: 5%;
    border-radius: 20px;
    margin-bottom: 2%;
}
.top{
    padding-left: 6rem;
    padding-right: 5rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.default-icon .mat-icon {
    font-size: 200px;
    width: 100%;
    height: 100%;
    color: #c10000;
    text-align: center;
  }
  .upload-image{
    text-align: center;
  }
  .upload-image .btn{
    background-color: #c10000;
    color: #EEEE;
  }
  .user-fullname{
    display: flex;
    justify-content: start;
    align-items: center;
    font-size: 32px;
    line-height: 1.5;
  }
  .user-fullname p{
    font-size: 20px;
  }
.save-button{
    display: flex;
    justify-content: center;
}
.save-button .btn{
    background-color: #c10000;
    color: #EEEE;
}
.bottom{
    padding-left: 6rem;
    padding-right: 5rem;
    padding-top: 2rem;
}

:host ::ng-deep .mat-mdc-form-field{
    width: 100%;
    padding-right: 1rem;
}