<div class="container">
    <div class="content shadow-lg">
        <ng-content select=".header"></ng-content>
        <div class="list-of-form">
            <!-- <span *ngFor="let form of list">{{form.name}}</span> -->
            <div class="list-group" *ngIf="(list$| async) as list;">
                <button class="list-group-item list-group-item-action" *ngFor="let form of list" (click)="navigateToForm(form)">{{form.formTitle}} 
                    <span *ngIf="+form.userCount > 0" class="badge custom-badge">{{form.userCount}} User(s) have taken This {{form.formType}} </span></button>
                <button *ngIf="list && list.length >= 30" class="load-more">Load More...</button>
            </div>
        </div>
            <ng-content select=".btn"></ng-content>    
    </div>
</div>