@import url(../../../shared/styles/globalstyles.css);

.row {
  margin-left: 1%;
  margin-right: 1%;
}
.rounded-box .form-type {
  height: 0;
}
.form-type {
  height: 9vh;
  background-color: #eeeeee;
}

.form-type .col-md-8 {
  border-left: 1px solid #c10000;
  border-right: 1px solid #c10000;
  height: 9vh;
}
.form-category,
.form-name {
  margin-top: 0.95rem;
}
.form-authenticity{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    margin-bottom: 15px;
}
.good-to-go-title{
  color: green;
}
.bad-title{
  color: red;
}
.form-category .form-select {
  background-color: transparent;
  border: 0;
  cursor: pointer;
}

.form-name .mat-form-field-appearance-outline .mat-form-field-outline {
  color: white;
}

.forms {
  background-color: #eeeeee;
  display: flex;
  justify-content: space-around;
  margin-left: 1%;
  margin-right: 1%;
}
.form-area {
  width: 90%;
  margin-top: 1.7rem;
  margin-left: 2.5rem;
}
.form-options {
  height: 16vh;
  border: 1px solid #939393;
  margin-left: 2%;
  margin-right: 2%;
  border-radius: 5px;
  background-color: #d9d9d9;
}
.delete-btn {
  margin-top: 2rem;
  margin-right: 1.8rem;
  height: 4vh;
  border-radius: 70%;
  background-color: #d9d9d9;
}
.delete-btn .btn {
  color: #c10000;
  box-shadow: none !important;
  border: none;
}
.delete-btn .btn:hover {
  color: #c10000a9;
  border: none;
}
.delete-btn .btn:focus {
  border: none;
}
.buttons {
  display: flex;
  justify-content: space-between;
  margin-bottom: 3%;
  margin-left: 1%;
  margin-right: 1%;
}
.buttons .btn {
  background-color: #c10000;
  color: #eeeeee;
  width: 150px;
  padding:8%;
  box-shadow: none !important;
  border: none;
}
.buttons .btn:hover {
  background-color: #c10000a9;
  border: none;
}
.buttons .btn:focus {
  border: none;
  color: #eeeeee;
}
