<div class="container">

  <form [formGroup]="customForm">
    <div class="rounded-box form-type mt-1 row shadow">
      <div class="col-md-2">
        <mat-form-field class="form-category" appearance="outline" >
          <!-- <mat-label>Choose one</mat-label> -->
          <mat-label>Category</mat-label>
          <mat-select placeholder="Category" formControlName="category">
            <mat-option>Clear</mat-option> 
            <mat-option [value]="category.name" *ngFor="let category of listOfCategories$ | async">{{category.name}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-md-8">
        <mat-form-field class="form-name" appearance="outline">
          <mat-label>{{ formType }} Title</mat-label>
          <input (keypress)="omit_special_char($event)" formControlName="title" type="text" (keyup)="onChangeTitle()" matInput placeholder="Title goes like..." />
        </mat-form-field>
      </div>
      <div class="col-md-2 form-authenticity">
        <div *ngIf="!formId"> 
          <span *ngIf="(customForm.get('title')?.value.length < 5)">Authenticity</span>
          <span *ngIf="(customForm.get('title')?.value.length >= 5) && isTitleAuthenticating">Authenticating ...</span>
          <span class="bad-title" *ngIf="isTitleAuthenticationDone && isTitleAMatch">Not an Authentic Title</span>
          <span class="good-to-go-title" *ngIf="isTitleAuthenticationDone && !isTitleAMatch">Good To Go</span>
        </div>
        <div *ngIf="formId"> 
          <span >Draft State</span>
        </div>
      </div>
    </div>
  
    <ng-container formArrayName="forms">
      <div *ngFor="let form of forms.controls; let i = index">
        <div class="rounded-box forms shadow" [formGroupName]="i">
          <div class="form-area">
            <div class="row">
                <div class="col-md-9">
                    <mat-form-field appearance="outline">
                      <mat-label>Question</mat-label>
                        <input (keypress)="omit_special_char($event)" type="text" formControlName="question" matInput placeholder="Question goes like..." />
                      </mat-form-field>
                </div>
                <div class="col-md-3">
                    <mat-form-field appearance="outline">
                        <mat-label>Type</mat-label>
                        <mat-select (selectionChange)="checkSelectValue($event.value,i)" placeholder="Type" formControlName="type">
                          <mat-option>Clear</mat-option>
                          <mat-option [value]="type.name" *ngFor="let type of listOfQuestionTypes">{{type.name}}</mat-option>
                        </mat-select>
                      </mat-form-field>
                </div>
            </div>
            <div formGroupName="options" *ngIf="form.get('showOption')?.value" class="row form-options">
                <div class="options-files" *ngIf="form.get('type')?.value === AdminConstants.OptionswithImages || form.get('type')?.value === AdminConstants.OptionswithAudioFiles">
                  <div class="row">
                    1:<input class="col" type="file" name="" id="" formControlName="option1">
                    3:<input class="col" type="file" name="" id="" formControlName="option3">
                  </div>
                  <div class="row">
                    2:<input class="col" type="file" name="" id="" formControlName="option2">
                    4:<input class="col" type="file" name="" id="" formControlName="option4">
                  </div>
                </div>
                <div class="options-text" *ngIf="form.get('type')?.value === AdminConstants.MultipleChoiceSingle || form.get('type')?.value === AdminConstants.MultipleChoiceMultiple">
                  <div class="row">
                    <mat-form-field class="col" appearance="outline">
                      <mat-label>Option 1</mat-label>
                      <input  matInput type="text" name="" id="" formControlName="option1" placeholder="Start Typing your Option">
                    </mat-form-field>
                    <mat-form-field class="col" appearance="outline">
                      <mat-label>Option 3</mat-label>
                      <input  matInput type="text" name="" id="" formControlName="option3" placeholder="Start Typing your Option"> 
                    </mat-form-field>
                    
                  </div>
                  <div class="row">
                    <mat-form-field class="col" appearance="outline">
                      <mat-label>Option 2</mat-label>
                      <input  matInput type="text" name="" id="" formControlName="option2" placeholder="Start Typing your Option">
                    </mat-form-field>
                    <mat-form-field class="col" appearance="outline">
                      <mat-label>Option 4</mat-label>
                      <input  matInput type="text" name="" id="" formControlName="option4" placeholder="Start Typing your Option">
                    </mat-form-field>
                  </div>
                  
                </div>
                <div *ngIf="formType === 'Quiz' && (form.get('type')?.value === AdminConstants.MultipleChoiceSingle || form.get('type')?.value === AdminConstants.MultipleChoiceMultiple)" class="row">
                  <div class="col">
                    <mat-form-field class="col" appearance="outline">
                      <mat-label>Answer 1</mat-label>
                      <input  matInput type="text" name="" id="" formControlName="answer1" placeholder="Start Typing your First Answer">
                    </mat-form-field>
                  </div>
                  <div class="col">
                    <mat-form-field *ngIf="form.get('type')?.value === AdminConstants.MultipleChoiceMultiple" class="col" appearance="outline">
                      <mat-label>Answer 2</mat-label>
                      <input  matInput type="text" name="" id="" formControlName="answer2" placeholder="Start Typing your Second Answer">
                    </mat-form-field>
                  </div>
                  <div class="col">
                  </div>
                </div>
            </div>
          </div>
          <div class="delete-btn">
            <button class="btn" title="Delete" (click)="deleteForm(i)"><mat-icon>delete</mat-icon></button>
          </div>
        </div>
      </div>
    </ng-container>
    <div class="buttons">
      <div>
        <div *ngIf="formType !== 'Opinion'">
          <button  class="btn" [disabled]="forms.controls.length === formLimit" (click)="addForm()">+ Add</button>
        </div>
      </div>
      <div *ngIf="userId === '0' && forms.controls.length === formLimit && formType !== 'Opinion'" class="login-to-add">
        <span  routerLink="/login">Login to add more questions</span>
      </div>
      <div *ngIf="userId !== '0' && forms.controls.length === formLimit && formType !== 'Opinion'" class="login-to-add">
        <span  routerLink="/plans">Suscribe to a better plan to add more question</span>
      </div>
      <div>
        <button class="btn" (click)="reviewForm()">Review Form</button>
      </div>
    </div>
   </form>
</div>
