<div class="container">
  <div *ngIf="loader">
    Loading...
  </div>
  <div *ngIf="!loader">
    <div class="top-part">
      <div class="title">
        <h1><strong>{{formDetails? formDetails.formTitle : ""}}</strong></h1>
      </div>
      <div class="row">
        <div class="col-md-3">
          <div class="basic-info">
            Form Created By: {{formDetails? formDetails.userName : ""}}
          </div>
        </div>
        <div class="col-md-6">
          <hr>
        </div>
        <div class="col-md-3">
          <div class="basic-info">
            Expiry Date: {{formDetails? formDetails.formExpirydate : ""}}
          </div>
        </div>
      </div>
    </div>
    <div class="bottom-part">
      <div class="question-area">
        <div *ngFor="let question of questions" class="rounded-box">
            <div class="question-details">
                    <div><span>{{question.question}}</span> </div>
                    <div class="skip-review">
                        <span><a class="btn">Skip</a> | <a class="btn">Review Later</a></span>
                    </div>
            </div>
            <div class="answer-area">
                <div class="rounded-box"></div>
            </div>
        </div>
      </div>
      <div class="submit-btn-area">
        <button class="btn">Submit Reponse</button>
      </div>
    </div>
    <div class="submit-responses-details">
      <form [formGroup]="responseDetails">
        <mat-checkbox class="example-margin" formControlName="asAnnonymous">Submit as an Annonymous</mat-checkbox><br><br>
        <div *ngIf="responseDetails.get('asAnnonymous')?.value === false">
          <mat-form-field>
            <input type="text" formControlName="name" matInput placeholder="Name" />
          </mat-form-field>
          <mat-form-field>
            <input type="email" formControlName="email" matInput  placeholder="Email" />
          </mat-form-field>
          <mat-form-field>
            <input type="text" formControlName="age" matInput placeholder="Age" />
          </mat-form-field>
          <mat-form-field>
            <input type="text" formControlName="location" matInput placeholder="Location" />
          </mat-form-field>
        </div>
        
      </form>
    </div>
  </div>


</div>
