@import url(../../../shared/styles/globalstyles.css);

.container{
    background-color: #EEEEEE;
    padding: 1%;
    margin-bottom: 1%;
    border-radius: 20px;
}
.top-part{
    margin-top: 1rem;
}
.title{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #595260;
}
.basic-info{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #c10000;
    border-radius: 20px;
    color: #eeeeee;
    padding: 2%;
}
.bottom-part{
    margin-top: 1rem;
    background-color: #dedede;
    border-radius: 20px;
    padding: 1%;
}
.question-area{
    margin-bottom: 2rem;
}
.rounded-box{
    background-color: #EEEEEE;
    height: auto;
}
.question-details{
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: 2rem;
    margin-right: 2rem;
    font-size: 18px;
    display: flex;
    justify-content: space-between;
}
.skip-review{
    margin-top: -0.6rem;
}
.answer-area .rounded-box{
    height: auto;
    padding: 2%;
    margin-left: 1%;
    margin-right: 1%;
}
.submit-btn-area{
    display: flex;
    justify-content: center;
    align-items: center;
}
.submit-btn-area .btn{
    background-color: #c10000;
    color: #eeeeee;
    width: 150px;
    padding: 1%;
    box-shadow: none !important;
    border: none;
}
.submit-responses-details{
    width: 50%;
    margin-left: 1rem;
    margin-top: 1rem;
}
.example-margin {
    margin: 0 10px;
  }
  .scale-box{
    background-color: #3f51b5;
    color: white;
    margin: 0.4rem;
    width: 3rem;
  }
.answer-details{
    border: 1px solid #dedede;   
    border-radius: 20px;
    padding: 2%;
    margin-left: 2rem;
    margin-right: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #dedede;
}
.answer-submitted{
    padding: 10rem;
    color: #595260;
}
.msg-block{
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn-block{
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn-block .btn{
    background-color: #c10000;
    color: #eeeeee;
    width: 150px;
    padding: 1%;
    box-shadow: none !important;
    border: none;
    margin: 1%;
    font-size: 15px;
}
.scale-box-selected{
    background-color: #eeeeee;
    color: #3f51b5;
    border: 1px solid #3f51b5;
    margin: 0.4rem;
    width: 3rem;
} 