/* You can add global styles to this file, and also import other style files */
@font-face {
    font-family: 'Bree Serif';
    src: url('../../BrownSurvey-master/src/assets/BreeSerif-Regular.ttf');
  }
  @font-face {
    font-family: 'Sansation';
    src: url('../../BrownSurvey-master/src/assets/Sansation_Regular.ttf');
  }  

html, body { height: 100%; background-color: #DEDEDE;}
body { margin: 0; font-family: 'Bree Serif', serif; }

  